:root {
  --primary: #47337b;
  --primary-lighter: #855cff;
  --primary-pink-lighter: #c287ff;
  --primary-light: #e7e1fe;
  --secondary: #a8cf45;
  --primary-transparent: #47337b80;
  --secondary-transparent: #a8cf4580;
  --orange: #ff5757;
  --orange-light: #f9e8e0;
  --turquoise: #b7f6ea;
  --turquoise-light: #dcf2f5;
  --turquoise-dark: #41ccc9;
  --btn-gradient-to-right: linear-gradient(to right, #41ccc9, #4a77ae);
  --btn-gradient-to-left: linear-gradient(to left, #4a77ae, #41ccc9);
  --btn-gradient-to-bottom: linear-gradient(to bottom, #47337b, #44559a);
  --link: #4a77ae;
  --border: #33333320;
  --text: #333333;
  --light: #fcffff;
  --shadow: #00000010;
  --dull: #33333310;
  --dull-dark: #a2a6ba;
}

.--c-primary {
  color: var(--primary);
}

.--bg-primary {
  background: var(--primary);
}

.--c-primary-light {
  color: var(--primary-light);
}

.--bg-primary-light {
  background: var(--primary-light);
}

.--c-primary-lighter {
  color: var(--primary-lighter);
}

.--bg-primary-lighter {
  background: var(--primary-lighter);
}

.--c-primary-pink-lighter {
  color: var(--primary-pink-lighter);
}

.--bg-primary-pink-lighter {
  background: var(--primary-pink-lighter);
}

.--c-secondary {
  color: var(--secondary);
}

.--bg-secondary {
  background: var(--secondary);
}

.--c-orange {
  color: var(--orange);
}

.--bg-orange {
  background: var(--orange);
}

.--c-orange-light {
  color: var(--orange-light);
}

.--bg-orange-light {
  background: var(--orange-light);
}

.--c-turquoise {
  color: var(--turquoise);
}

.--bg-turqoise {
  background: var(--turquoise);
}

.--c-turquoise-light {
  color: var(--turquoise-light);
}

.--bg-turqoise-light {
  background: var(--turquoise-light);
}

.--c-turquoise-dark {
  color: var(--turquoise-dark);
}

.--bg-turquoise-dark {
  background: var(--turquoise-dark);
}

.--btn-gradient-to-right {
  background: var(--btn-gradient-to-right);
  color: white !important;
}

.--btn-gradient-to-left {
  background: var(--btn-gradient-to-left);
  color: white !important;
}

.--btn-gradient-to-bottom {
  background: var(--btn-gradient-to-bottom);
  color: white !important;
}

.--btn-orange {
  background: var(--orange);
  color: white;
}

.--btn-turqoise {
  background: var(--turquoise-dark);
  color: white;
}

.--c-link {
  color: var(--link);
}

.--border-gray {
  border-color: var(--border);
}

.--c-text {
  color: var(--text);
}

.--bg-light {
  background: var(--light);
}

.--c-dull {
  color: var(--dull);
}
.--bg-dull {
  background: var(--dull);
}
.--c-dull-dark {
  color: var(--dull-dark);
}
.--bg-dull-dark {
  background: var(--dull-dark);
}
