.header {
  box-shadow: 0px 0px 5px 5px var(--shadow);
  .navbar-brand {
    width: 134px;
    img {
      width: 100%;
    }
  }
  .nav-item {
    margin-left: 30px;
    p {
      margin-left: 10px;
    }
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    position: absolute;
    top: 105%;
    right: 0px;
    width: 166px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #00000010;
    z-index: 12;
    background: white;

    .navbar-nav {
      .nav-item {
        margin: 0px;
        padding: 5px 10px;
        height: 50px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #00000010;
        img {
          display: none;
        }
        p {
          margin-left: 0px;
          color: black;
        }
        i {
          color: black;
        }
        .btn {
          background: transparent;
          color: var(--orange);
          padding: 0px;
          justify-content: start;
        }
        .btn + .icon i {
          color: var(--orange);
        }
        .btn:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    box-shadow: none;
  }
}
