.side-nav {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 293px;
  height: calc(100vh - 100px);
  position: fixed;
  left: 0;
  bottom: 0;
  transition: all 0.4s;
  z-index: 1;

  ul {
    li {
      .card-header::after {
        font-family: "FontAwesome";
        content: "\f077";
        color: white;
        position: absolute;
        right: 70px;
        top: 16px;
      }
      .card-header.collapsed::after {
        /* symbol for "collapsed" panels */
        content: "\f078";
        color: white;
        position: absolute;
        right: 70px;
        top: 16px;
      }

      a {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
      }
      a:hover {
        background: rgba(0, 0, 0, 0.03);
        cursor: pointer;
      }
      .list-inner {
        li:nth-last-of-type(1) {
          margin: 0px;
        }

        a {
          padding-left: 36px;
          color: white;
          background: transparent !important;
        }
        a:hover {
          background: transparent;
          color: var(--turquoise-dark);
        }
      }
    }
    li.active {
      a {
        background: var(--turquoise-dark);
      }
    }
    li:nth-last-of-type(1) {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 768px) {
  .side-nav {
    left: -293px;
  }
}

.side-nav-show {
  left: 0px;
}

.side-nav-toggler-position {
  left: 273px !important;
}
