@import "./reset.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./colors.scss";
@import "./fonts.scss";
@import "./generic.scss";

@import "./login.scss";
@import "./intron-add-staff.scss";
@import "./intron-doctor-profile.scss";

@import "./header.scss";
@import "./footer.scss";
@import "./side-nav.scss";

body {
  background: #f9fafe;
}

// Misc Styles
.--padding-top-356 {
  padding-top: 356px;
}

.fixed-top-nav-compensation {
  padding-top: 100px;
  padding-bottom: 20px;
}

.intron-order-summary {
  .nav-link.active {
    background: var(--turquoise) !important;
    color: var(--turquoise-dark) !important;
  }
}

.intron-data-filter-tabs {
  &__tab {
    color: black !important;
  }

  &__tab.active {
    background: var(--btn-gradient-to-right) !important;
    color: white !important;
  }
  &__tab.active:hover {
    color: white !important;
  }
}

.intron-patient-data-table {
  &__line-turquoise::before {
    content: "";
    width: 10px;
    height: 10px;
    background: var(--turquoise-dark);
    border-radius: 50px;
    top: -30px;
    position: absolute;
    left: -29px;
  }
  &__line-turquoise::after {
    content: "";
    width: 1px;
    background: var(--turquoise-dark);
    left: -25px;
    top: -20px;
    position: absolute;
    height: calc(100% + 30px);
  }
  &__line-purple::before {
    content: "";
    width: 10px;
    height: 10px;
    background: var(--primary);
    border-radius: 50px;
    top: -30px;
    position: absolute;
    left: -29px;
  }
  &__line-purple::after {
    content: "";
    width: 1px;
    background: var(--primary);
    left: -25px;
    top: -20px;
    position: absolute;
    height: calc(100% + 30px);
  }
  &__line-orange::before {
    content: "";
    width: 10px;
    height: 10px;
    background: var(--orange);
    border-radius: 50px;
    top: -30px;
    position: absolute;
    left: -29px;
  }
  &__line-orange::after {
    content: "";
    width: 1px;
    background: var(--orange);
    left: -25px;
    top: -20px;
    position: absolute;
    height: calc(100% + 30px);
  }
}

.intron-patient-profile-clerking {
  &__rapid-orders {
    background: url("../img/rapid-orders-bg.png") 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    .form-control {
      border: 1px solid #ffffff20;
    }
  }

  .form-group {
    .custom-control-label::before,
    .custom-file-label,
    .custom-select {
      background: transparent;
      border: none;
    }

    /* The container must be positioned relative: */
    .custom-select {
      position: relative;
      font-family: Arial;
      background: #ffffff15;
      height: 100%;
      border: 1px solid #ffffff20;
    }

    .custom-select select {
      display: none; /*hide original SELECT element: */
    }

    .select-items div,
    .select-selected {
      border: none !important;
    }

    /* Style the arrow inside the select element: */
    .select-selected:after {
      position: absolute;
      content: "";
      top: 14px;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #fff transparent transparent transparent;
    }

    /* Point the arrow upwards when the select box is open (active): */
    .select-selected.select-arrow-active:after {
      border-color: transparent transparent #fff transparent;
      top: 7px;
    }

    /* style the items (options), including the selected item: */
    .select-items div,
    .select-selected {
      color: white;
      padding: 8px 16px;
      border: 1px solid transparent;
      border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      cursor: pointer;
    }

    /* Style items (options): */
    .select-items {
      position: absolute;
      background-color: #ffffff15;
      color: white;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99;
    }

    /* Hide the items when the select box is closed: */
    .select-hide {
      display: none;
    }

    .select-items div:hover,
    .same-as-selected {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .form-control:focus {
    background: #ffffff15;
  }

  .form-control::placeholder {
    color: #ffffff30;
  }
}
