@import "./reset.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./colors.scss";
@import "./fonts.scss";
@import "./generic.scss";

@import "./login.scss";
@import "./intron-add-staff.scss";
@import "./intron-doctor-profile.scss";

@import "./header.scss";
@import "./footer.scss";
@import "./side-nav.scss";

// Misc Styles
.--padding-top-356 {
  padding-top: 356px;
}

.fixed-top-nav-compensation {
  padding-top: 100px;
  padding-bottom: 20px;
}

.intron-order-summary {
  .nav-link.active {
    background: var(--turquoise) !important;
    color: var(--turquoise-dark) !important;
  }
}
